<!-- <link rel="stylesheet" type="text/css" href="stylesheets/blog_single_styles.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/blog_single_responsive.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/blog_styles_custom.css"> -->

<search-bar></search-bar>
<main-nav></main-nav>


<!-- <link rel="stylesheet" type="text/css" href="stylesheets/shop_responsive.css"> -->

<!-- Home -->
<div class="home " >
<!-- <div class="home " style="overflow: hidden; top:-37px;">     -->
    <div class="home_background parallax-window" data-parallax="scroll" style=" background-image:url(images/Ipadpro_blog.jpg);"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">{{category._id}}</h2>
    </div>
</div>


    <!-- Single Blog Post -->

    <div class="single_post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single_post_title">Apple iPad Pro 12.9 (2018, LTE, 256 GB) </div>
                    <div class="single_post_title"> Tablet Review </div> <div>by Daniel Schmidt (translated by Alex Alderson) - www.notebookcheck.net</div>

                    <div class="single_post_text">
                        <p>The first-generation iPad Pro 12.9 was already a comparatively slim device. However, Apple has somehow managed to shave another millimetre off and has made the new iPad Pro 12.9 only 5.9 mm thick. Our test device measures 5.95 mm thick, but the 0.5 mm difference is marginal. It is worth noting that the device will not lay flat though as its rear-facing camera housing protrudes by 2.45 mm from the case like a little volcano. The third-generation iPad Pro 12.9 also has strikingly more rounded and smaller bezels than its predecessors, the result of which means that it is more compact too.

</p>

                        <div class="single_post_quote text-center">
                            <!-- <div class="quote_image"><img src="images/quote.png" alt=""></div> -->
                            <div class="quote_text">Strong and expensive. The release of the third generation of Apple’s huge tablet has coincided with a complete redesign that shares more design cues with the new iPhone XS series than classic iPhones. Apple has equipped its most-expensive tablet with its most-powerful ARM SoC, Face ID, high volume storage options, support for a new Apple Pencil and much more, including a massive mark-up in price.</div>
                            <div class="quote_name">www.notebookcheck.net</div>
                        </div>

                        <p>In our opinion, the new iPad Pro 12.9 looks like a huge iPhone 5S or SE with a higher screen-to-body ratio. The recycled aluminium unibody not only looks great but also feels premium in the hand. We generally have no complaints about the craftsmanship of our test device either. The gaps between materials are consistently even and precise while the hardware buttons feel well made and sit firmly within the frame. The nano-SIM slot is made of the same aluminium as the frame too.

Applying firm pressure to the display makes the LCD distort slightly though, and the case is generally not as stiff as we would have liked. We can easily make the device creak by trying to twist it with our hands, which is not what we would have expected from such an expensive tablet.

Moreover, the iPad Pro 12.9 has no IP certification against dust and water, which is a shame as all new iPhones are at least IP67-resistant against dust and water. Apple currently sells the device in either silver or space grey. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Posts -->

    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url(images/blog_4.jpg)"></div>
                            <div class="blog_text">AirPods will forever change the way you use headphones</div>
                            <div class="blog_button"><a href="#/blog_single">Stay in touch to see the latest reviews</a></div>
                        </div>

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url(images/blog_5.jpg)"></div>
                            <div class="blog_text">A desktop experience that draws you in and keeps you there</div>
                            <div class="blog_button"><a href="#/blog_single">Stay in touch to see the latest reviews</a></div>
                        </div>

                        <!-- Blog post -->
                        <div class="blog_post">
                            <div class="blog_image" style="background-image:url(images/blog_6.jpg)"></div>
                            <div class="blog_text">The ultimate home entertainment center starts with PlayStation </div>
                            <div class="blog_button"><a href="#/blog_single">Stay in touch to see the latest reviews</a></div>
                        </div>

                    </div>
                </div>  
            </div>
        </div>
    </div>


<footer-block></footer-block>
