<link rel="stylesheet" type="text/css" href="stylesheets/shop_styles_custom.css">
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/shop_styles.css"> -->
<search-bar></search-bar>
<main-nav></main-nav>


<!-- <link rel="stylesheet" type="text/css" href="stylesheets/shop_responsive.css"> -->

<!-- Home -->
<div class="home " >
<!-- <div class="home " style="overflow: hidden; top:-37px;">     -->
    <div class="home_background parallax-window" data-parallax="scroll" style=" background-image:url(images/shop_background.jpg);"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">{{category._id}}</h2>
    </div>
</div>


<category-tree></category-tree>
<category-products></category-products>
<footer-block></footer-block>
