    <form ng-cloak name="forgotForm" ng-controller="ForgotPasswordCtrl as forgot" ng-submit="forgot.forgotpassword()">
      <md-card-title>
        <md-card-title-text>
          <!-- <span class="md-headline">Forgot Password</span> -->
          <p class="error-text" ng-if="forgot.response.message">{{forgot.response.message}}</p>
        </md-card-title-text>
      </md-card-title>
      <md-card-content> 
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email" ng-model="forgot.user.email">
        </md-input-container>
      </md-card-content>
        <md-button ui-sref="signin">Sign in</md-button>
        <md-button ui-sref="register">Register</md-button>      
      <md-card-actions layout="row" layout-align="end center">
        <!-- <md-button ui-sref="auth.login">Login</md-button> -->
        <!-- <md-button ui-sref="auth.register">Join</md-button> -->

        <!-- <span flex></span> -->
        <md-button class="md-primary" type="submit">Retrieve</md-button>
      </md-card-actions>
    </form>

